# Ambiente Virtual
.venv/
env/

# Arquivos de Configuração de Variáveis de Ambiente
.env

# Arquivos de cache e compilados do Python
__pycache__/
*.pyc

# Logs e dados
*.log
/instance/

# Arquivos de IDE (Opcional, mas comum)
.vscode/

# Arquivos de sistema (para quem usa Mac/Linux)
.DS_Store