<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_index.css') }}">

</head>
<body>
    <div class="logo-container">
        <span class="logo-text">ha</span><span class="logo-n">N</span><span class="logo-text">Na</span>
    </div>
    <div class="search-box">
    <form method="POST"> 
    Pesquisa: <input type="text" name="TAG-PLAYER">
    <input type="submit" value="Enviar">
    </form>
	</div></body>
</html>